.nsc-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  position: absolute;
  min-width: 20%;
  left: 5%;
}

.container {
  position: relative;
  min-height: 75vh;
  height: auto;
}

.keywords {
  float: left;
  min-width: 25%;
}
.keywords div {
  display: flex;
  padding: 2px 0 2px 0;
}
.keywords p {
  padding-right: 4px;
  margin: 2px 0 2px 0;
}
.keywords div > a {
  margin: 3px 2px 0 2px;
  padding-right: 4px;
}
.keywords h4 {
  margin-bottom: 4px;
}

div#keyword-new {
  margin-top: 8px;
}

a.kw {
  display: block;
  width: 16px;
  height: 16px;
}
a.modify-keyword {
  background: no-repeat url("/static/change-keyword.gif");
}
a.new-keyword {
  background: no-repeat url("/static/new-keyword.gif");
}
a.del-keyword {
  background: no-repeat url("/static/del-keyword.gif")
}

.results {
  margin-top: 20px;
  min-width: 60vw;
  float: right;
}

.engine-prefs {
  position: absolute;
  bottom: 12%;
}
.engine-prefs h4 {
  margin-bottom: 4px;
}
